[Desktop Entry]
Name=Agenda
Name[ar]=جدول الأعمال
Name[ca]=Agenda
Name[ca@valencia]=Agenda
Name[es]=Agenda
Name[eu]=Agenda
Name[fi]=Agenda
Name[fr]=Agenda
Name[gl]=Axenda
Name[he]=סדר יום
Name[it]=Agenda
Name[ka]=დღის წესრიგი
Name[ko]=Agenda
Name[lv]=Dienaskārtība
Name[nl]=Agenda
Name[pl]=Rozkład zajęć
Name[pt_BR]=Agenda
Name[sl]=Agenda
Name[sv]=Agenda
Name[tr]=Ajanda
Name[uk]=Порядок денний
Name[x-test]=xxAgendaxx
Name[zh_TW]=Agenda
Comment=Organize events in the calendar
Comment[ar]=نظّم الأحداث في التقويم
Comment[ca]=Organitza els esdeveniments en el calendari
Comment[ca@valencia]=Organitza els esdeveniments en el calendari
Comment[es]=Organizar eventos del calendario
Comment[eu]=Ekitaldiak egutegian antolatu
Comment[fi]=Järjestä kalenteritapahtumia
Comment[fr]=Organiser des évènements dans l'agenda
Comment[gl]=Organice eventos no calendario.
Comment[he]=סידור אירועים בלוח השנה
Comment[it]=Organizza gli eventi nel calendario
Comment[ka]=დააორგანიზეთ მოვლენები კალენდარში
Comment[ko]=캘린더의 이벤트 관리
Comment[lv]=Pārvaldiet notikumus kalendārā
Comment[nl]=Evenementen in de agenda organiseren
Comment[pl]=Organizuj wydarzenia w kalendarzu
Comment[pt_BR]=Organizar eventos no calendário
Comment[sl]=Organizira dogodke v koledarju
Comment[sv]=Organisera händelser i kalendern
Comment[tr]=Takvimdeki etkinlikleri yönetin
Comment[uk]=Організація подій за календарем
Comment[x-test]=xxOrganize events in the calendarxx
Comment[zh_TW]=管理行事曆中的活動
TryExec=agenda
Exec=agenda %U
Terminal=false
Type=Application
GenericName=Calendar
GenericName[ar]=التّقويم
GenericName[ca]=Calendari
GenericName[ca@valencia]=Calendari
GenericName[es]=Calendario
GenericName[eu]=Egutegia
GenericName[fi]=Kalenteri
GenericName[fr]=Agenda
GenericName[gl]=Calendario
GenericName[he]=לוח שנה
GenericName[it]=Calendario
GenericName[ka]=კალენდარი
GenericName[ko]=캘린더
GenericName[lv]=Kalendārs
GenericName[nl]=Agenda
GenericName[pl]=Kalendarz
GenericName[pt_BR]=Calendário
GenericName[sl]=Koledar
GenericName[sv]=Kalender
GenericName[tr]=Takvim
GenericName[uk]=Календар
GenericName[x-test]=xxCalendarxx
GenericName[zh_TW]=行事曆
StartupNotify=true
Icon=agenda
Categories=Qt;KDE;Office;Calendar;
MimeType=text/calendar;
SingleMainWindow=true
