[Desktop Entry]
Name=Agenda
Name[ca]=Agenda
Name[es]=Agenda
Name[eu]=Agenda
Name[gl]=Axenda
Name[he]=סדר יום
Name[ka]=დღის წესრიგი
Name[nl]=Agenda
Name[sl]=Agenda
Name[sv]=Agenda
Name[tr]=Ajanda
Name[uk]=Порядок денний
Name[x-test]=xxAgendaxx
Comment=Organize events in the calendar
Comment[ca]=Organitza els esdeveniments en el calendari
Comment[es]=Organizar eventos del calendario
Comment[eu]=Ekitaldiak egutegian antolatu
Comment[gl]=Organice eventos no calendario.
Comment[he]=סידור אירועים בלוח השנה
Comment[ka]=დააორგანიზეთ მოვლენები კალენდარში
Comment[nl]=Evenementen in de agenda organiseren
Comment[sl]=Organizira dogodke v koledarju
Comment[sv]=Organisera händelser i kalendern
Comment[tr]=Takvimdeki etkinlikleri yönetin
Comment[uk]=Організація подій за календарем
Comment[x-test]=xxOrganize events in the calendarxx
TryExec=agenda
Exec=agenda %U
Terminal=false
Type=Application
GenericName=Calendar
GenericName[ca]=Calendari
GenericName[es]=Calendario
GenericName[eu]=Egutegia
GenericName[gl]=Calendario
GenericName[he]=לוח שנה
GenericName[ka]=კალენდარი
GenericName[nl]=Agenda
GenericName[sl]=Koledar
GenericName[sv]=Kalender
GenericName[tr]=Takvim
GenericName[uk]=Календар
GenericName[x-test]=xxCalendarxx
StartupNotify=true
Icon=agenda
Categories=Qt;KDE;Office;Calendar;
MimeType=text/calendar;
SingleMainWindow=true
